*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box{
    width: 350px;
    height: 70%;
    border: 2px solid black;
    text-align: center;
    background-color: lightgreen;
}

.header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

input{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    width: 60%;
}

button{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    background-color: aqua;
    border-radius: 5px;
}

.whether-body{
    /* display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    margin: 10px 0px;
}

.whether-body img{
    width: 40%;  
    margin-bottom: 10px;   
}


.whether-body h1{
    font-size: 40px;
    font-weight: 500;
}

.cityname{
    text-transform: capitalize;
}

.whether-body h2{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top:30px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}



.humidity , .Wind{
    font-size: 28px;
    margin-top: -6px;
}

